body{
  font-family: 'Questrial', sans-serif;
  background-color: #303840;
}

.login-welcome{
    background: #CE662A;  
}

.engrame{
   color: #303840; 
}

.btn-default{
    color: #FFF;
    background-color: #303840;
    border-color: #303840;
}

.btn-default:hover{
    color: #FFF;
    background-color: #070A0C;
    border-color: #070A0C;
}

.btn-default.focus, .btn-default:focus {
    color: #fff;
    background-color: #303840;
    border-color: #303840;
}


.navbar-inverse {
    background-color: #303840;
    border-color: #303840;
}

.sidebar {
    background-color: #303840;
    border-right: 1px solid #303840;
}

.dashboard-panel{
	background-color: #E8E8E8;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #CE662A;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #CE662A;
    color: #fff;
}

.message-item:before {
    background: #303840;
}

.message-item:after {
    background: rgba(48, 56, 64, 0.7);
    border: 1px solid rgba(48, 56, 64, 0.7);
}


.message-item .message-head .message-icon {
    background-color: rgba(48, 56, 64, 0.8);
}

.user-cube {
    color: #FFF;
    background-color: #303840;
}

.user-cube > .btn-default {
    color: #FFF;
    background-color: #CE662A;
    border-color: #CE662A;
}

.user-cube > .btn-default:hover {
    color: #FFF;
    background-color: #E66C26;
    border-color: #E66C26;
}

.configuracion-cube h4 {
    background: #CE662A;
}