
body{
  font-family: 'Questrial', sans-serif;
  background-color: #007EBB;
}

.login-welcome{
    background: #1ba1e2;  
}

.engrame{
    color: #007EBB;
}

.btn-default{
    color: #FFF;
    background-color: #007EBB;
    border-color: #007EBB;
}

.btn-default:hover{
    color: #FFF;
    background-color: #1ba1e2;
    border-color: #1ba1e2;
}

.btn-default.focus, .btn-default:focus {
    color: #fff;
    background-color: #007EBB;
    border-color: #007EBB;
}


.navbar-inverse {
    background-color: #007EBB;
    border-color: #007EBB;
}

.sidebar {
    background-color: #007EBB;
    border-right: 1px solid #007EBB;
}

.dashboard-panel{
	background-color: #E8E8E8;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #1ba1e2;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #1ba1e2;
    color: #fff;
}

.message-item:before {
    background: #1ba1e2;
}

.message-item:after {
    background: #1ba1e2;
    border: 1px solid #1ba1e2;
}


.message-item .message-head .message-icon {
    background-color: #1ba1e2;
}

.user-cube {
    color: #FFF;
    background-color: #007EBB;
}

.user-cube > .btn-default {
    color: #FFF;
    background-color: #1ba1e2;
    border-color: #1ba1e2;
}

.user-cube > .btn-default:hover {
    color: #FFF;
    background-color: #055A84;
    border-color: #055A84;
}

.configuracion-cube h4 {
    background: #1ba1e2;
}